%h4
  = link_to question.title, question, class: "question-link"
%p
  asked by
  = question.user.name
%p
  - answer = question.answers.first
  - if answer
    %h5= answer.user.name
    %p= answer.description
